H1 {
    font-size: 200%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #000080;
    text-align: center;
}
H2 {
    font-size: 150%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #000080;
    text-align: center;
}
H3 {
    font-size: 100%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #000080;
    text-align: right;
}